<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="iata-api-key" value="24d035b7-42c3-4014-86ed-5d6c92de36f8" />
    <add key="iata-api-airport-resource-url" value="api/v6/airports" />
    <add key="iata-api-airport-base-url" value="https://iatacodes.org" />
    
    <add key="amadeus-api-key" value="KKK4cwNb2rUhdaAWxwPUTZubSpeHqOed" />
    <add key="amadeus-api-flights-resource" value="v1.2/flights/low-fare-search" />
    <add key="amadeus-api-flights-base-url" value="https://api.sandbox.amadeus.com" />
  </appSettings>
</configuration>